*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    padding-top: 79px;
    padding-bottom: 178px;
}
.header-contener{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}
.yul{
    display: flex;
    justify-content: center;
    gap: 64px;
    list-style: none;
    padding-top: 15px;
}
.link{
      font-family: Mada;
      font-weight: 400;
      font-style: Regular;
      font-size: 28px;
      line-height: 100%;
      letter-spacing: 0%;
      text-decoration: none;
      color: #000;
}
section{
    padding-bottom: 40px;
}
.section-contener{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
}
.h1{
    font-family: Mada;
    font-weight: 400;
    font-style: Regular;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
}
.span{
    font-family: sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    background: linear-gradient(90deg, #9500FF 49.84%, #CC00FF 100%);
    padding: 13px 26px;
    border-radius: 30px;
}
.paragref{
    padding-top: 28px;
    padding-bottom: 28px;
    font-family: sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
.button{
    padding: 20px 43px;
    border: solid 5px #9500FF;
    border-radius: 30px;
    color: #9500FF;
    font-family:sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-top: 30px;
}
.footer{
    padding-top: 30px;
}
.footer-contener{
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    align-items: center;
    gap: 40px;
    display: flex;
    justify-content: space-between;
}

h1{
    color: red;
}